@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* 
orange: #f3a30d
purple: #8509a5
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.home-container {
    min-height: 100vh;
    background: url(../Images/BG.jpg);
    background-size: cover;
}

.header {
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.logo {
    width: 180px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 30px;
    margin-left: 60px;
    margin-bottom: 35px;
    overflow: hidden;
}

.nav-links a {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.nav-links a:hover {
    transform: translateY(-100%);
}

.landing {
    line-height: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.big-title {
    width: 40%;
    color: white;
    font-size: 80px;
    font-family: "Abril Fatface", cursive;
    font-weight: 100;
    text-decoration: none;
}

.big-title a:hover{
    color: #f3a30d;
}

.content{
    display: flex;
    align-items: center;
}

#tete{
    width: 150px;
    margin-left: -220px;
    
}

.footer {
    margin-top: -2%;
    margin-left: 10px;
}

.date {
    padding-right: 20px;
    color: white;
}

.burger {
    display: none;
}

.here {
    display: flex;
    list-style: none;
}

.here li {
    margin: 30px;
    margin-left: 60px;
    margin-bottom: 35px;
    overflow: hidden;
}

.here a {
    font-size: 18px;
    font-weight: 500;
    opacity: 60%;
    text-decoration: wavy;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.here a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.here a:hover {
    transform: translateY(-100%);
}

@media (max-width: 768px) {

    .header {
        justify-content: space-between;
    }

    .burger-container {
        width: 35px;
        height: 30px;
        position: relative;
    }

    .burger {
        display: block;
        height: 3px;
        width: 30px;
        background: white;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        transition: background 0.4s;
    }

    .burger-container.active .burger {
        background: transparent;
    }

    .burger::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        bottom: 8px;
        transition: transform 0.4s,
        bottom 0.4s,
        background 0.4s;
    }

    .burger-container.active .burger::before {
        bottom: 0;
        transform: rotate(-45deg);
        background: black;
    }

    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: 8px;
        transition: transform 0.4s,
        top 0.4s background 0.4s;
    }

    .burger-container.active .burger::after {
        top: 0;
        transform: rotate(45deg);
        background: black;
    }

    .nav-links {
        position: absolute;
        width: 100%;
        height: 50vh;
        left: 0;
        top: -50vh;
        background-color: #f3a30d;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 50px;
    }

    .nav-links.active {
        top: 0;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        color: black;
        font-size: 23px;
    }

	.home-container {
		min-height: 100vh;
		background: url(../Images/BGphone.jpg);
		background-size: cover;
	}

	.logo {
        width: 100px;
        top: 20%;
    }

    .landing,
    .header,
    .footer {
        padding: 0 7%;
    }

    .header {
        height: 100px;
    }

    .big-title {
        font-size: 50px;
        line-height: 50px;
    }

	#tete{
		width: 70px;
		margin-top: 210px;
		margin-left: -335px;
	}

	.footer{
		margin-top: -30px;
		margin-left: -15px;
	}
	
}

