@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* 
orange: #f3a30d
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.home-container {
    min-height: 100vh;
    max-height: 100vh;
    background: url(../Images/BGprofil.jpg);
    background-size: cover;
}

.header {
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.logo {
    width: 180px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 30px;
    margin-left: 60px;
    margin-bottom: 35px;
    overflow: hidden;
}

.nav-links a {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.5s;
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.nav-links a:hover {
    transform: translateY(-100%);
}

.main-title {
    line-height: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.big-title {
    width: 100%;
    color: #f3a30d;
    font-size: 80px;
    font-family: 'Oswald', cursive;
    font-weight: 100;
    text-decoration: none;
}

.title{
    width: 40%;
    color: white;
    font-size: 60px;
    font-family: 'Oswald', cursive;
    font-weight: 100;
    text-decoration: none;
    margin-left: 15%;
}

.text-container {
    min-height: 80vh;
    background: white;
    padding: 0 100px;
}

.content{
    display: flex;
    align-items: center;
}

.section-title {
    position: relative;
    font-family: 'Oswald', cursive;
    font-size: 50px;
    font-weight: 100;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #f3a30d;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001F;
}

.footer {
    margin-top: -2%;
    margin-left: 10px;
}

.date {
    padding-right: 20px;
    color: white;
}

.burger {
    display: none;
}

.here {
    display: flex;
    list-style: none;
}

.here li {
    margin: 30px;
    margin-left: 60px;
    margin-bottom: 35px;
    overflow: hidden;
}

.here a {
    font-size: 18px;
    font-weight: 500;
    opacity: 60%;
    text-decoration: wavy;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.here a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.here a:hover {
    transform: translateY(-100%);
}

@media (max-width: 768px) {

    .header {
        justify-content: space-between;
    }

    .burger-container {
        width: 35px;
        height: 30px;
        position: relative;
    }

    .burger {
        display: block;
        height: 3px;
        width: 30px;
        background: white;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        transition: background 0.4s;
    }

    .burger-container.active .burger {
        background: transparent;
    }

    .burger::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        bottom: 8px;
        transition: transform 0.4s,
        bottom 0.4s,
        background 0.4s;
    }

    .burger-container.active .burger::before {
        bottom: 0;
        transform: rotate(-45deg);
        background: black;
    }

    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: 8px;
        transition: transform 0.4s,
        top 0.4s background 0.4s;
    }

    .burger-container.active .burger::after {
        top: 0;
        transform: rotate(45deg);
        background: black;
    }

    .nav-links {
        position: absolute;
        width: 100%;
        height: 50vh;
        left: 0;
        top: -50vh;
        background-color: #f3a30d;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 50px;
    }

    .nav-links.active {
        top: 0;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        color: black;
        font-size: 23px;
    }

	.logo {
        width: 100px;
        top: 20%;
    }

    .main-title,
    .header,
    .footer {
        padding: 0 7%;
    }

    .header {
        height: 100px;
    }

    .big-title {
        font-size: 70px;
        line-height: 50px;
    }

    .text-container {
        min-height: 80vh;
        background: white;
        padding: 0 100px;
    }
    
    .content{
        text-align: justify;
    }
    
    .section-title {
        font-size: 50px;
        font-weight: 100;
        margin-left: -50px;
    }

	.footer{
		margin-top: -30px;
		margin-left: -15px;
	}
	
}


