@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* 
orange: #f3a30d
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.home-container {
    min-height: 100vh;
    max-height: 100vh;
    background: url(Ressources/BG.jpg);
    background-size: cover;
}

.header {
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.logo {
    width: 180px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 30px;
    margin-left: 60px;
    margin-bottom: 35px;
    overflow: hidden;
}

.nav-links a {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.5s;
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.nav-links a:hover {
    transform: translateY(-100%);
}

.main-title {
    line-height: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.big-title {
    width: 40%;
    color: black;
    font-size: 80px;
    font-family: 'Oswald', cursive;
    font-weight: 100;
    text-decoration: none;
}

.section-title {
    position: relative;
    font-family: 'Oswald', cursive;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #f3a30d;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001F;
}

.title{
    display: flex;
    align-items: center;
}

.content{
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}

#tete{
    width: 50%;
    margin-left: -220px;
    margin-top: 30px;
    border-radius: 50%;
}

.skills-box{
    display: flex;
    justify-content: center;
}

.icon-name{
    font-weight: 600;
    margin-top: 5px;
}

.competences {
    display: grid;
    gap: 70px;
    text-align: center;
    }
    
    .skills { 
        grid-area: 1 / 1 / 4 / 4;  
    }
    .skill1 { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    .skill2 { 
        grid-area: 1 / 2 / 2 / 3; 
    }
    .skill3 { 
        grid-area: 1 / 3 / 2 / 4; 
    }
    .skill4 { 
        grid-area: 2 / 3 / 3 / 4; 
    }
    .skill5 { 
        grid-area: 2 / 2 / 3 / 3; 
    }
    .skill6 { 
        grid-area: 2 / 1 / 3 / 2; 
    }
    .skill7 { 
        grid-area: 3 / 1 / 4 / 2; 
    }
    .skill8 { 
        grid-area: 3 / 2 / 4 / 3; 
    }
    .skill9 { 
        grid-area: 3 / 3 / 4 / 4; 
    }

.langages{
    margin-right: 100px;
}

.savoir-faire{
    margin-left: 100px;
}

.liste-langages{
   margin-left: 20px;
}

.projects-box {
    display: grid;
    text-align: center;
    gap: 20px;
    }

#project-content1{
    margin-top: 32px;
}

#project-content2{
    margin-top: 0px;
}

#project-content3{
    margin-top: 25px;
}

#more1 {display: none;}

#myBtn1{
    outline: none;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#myBtn1:hover{
    background-color: #f2f2f2;
}

#more2 {display: none;}

#myBtn2{
    outline: none;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#myBtn2:hover{
    background-color: #f2f2f2;
}

#more3 {display: none;}

#myBtn3{
    outline: none;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#myBtn3:hover{
    background-color: #f2f2f2;
}

.arrow{
    width: 40%;
}

#android{
    width: 28%;
    margin-top: 8px;
}

#crypto{
    width: 20%;
    margin-top: 20px;
}

#green{
    width: 22%;
    margin-top: 22px;
}
    
.projects { 
    grid-area: 1 / 1 / 4 / 4;  
}
.project1 { 
    grid-area: 1 / 1 / 2 / 2;
}
.project2 { 
    grid-area: 1 / 2 / 2 / 3; 

}
.project3 { 
    grid-area: 1 / 3 / 2 / 4;

}

.cv-container{
    display: flex;
    justify-content: center;
}

.cliquer{
    text-align: center;
}

.cv{
    width: 60%;
    height: 60%;
    margin-left: 11%;
}

.cv-screen:hover{
    opacity: 80%;
}

.contact{
    text-align: center;
}

.contact-link{
    text-decoration: none;
}

a.link:active{
    color: #f3a30d;
}

a.link:link{
    color: #f3a30d;
}

a.link:visited{
    color: #f3a30d;
}

.footer {
    margin-top: -2%;
    margin-left: 10px;
}

.date {
    padding-right: 20px;
    color: black;
}

.burger {
    display: none;
}

.here {
    display: flex;
    list-style: none;
}

.here li {
    margin: 30px;
    margin-left: 60px;
    margin-bottom: 35px;
    overflow: hidden;
}

.here a {
    font-size: 18px;
    font-weight: 500;
    opacity: 60%;
    text-decoration: wavy;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.here a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.here a:hover {
    transform: translateY(-100%);
}

.gras{
    font-weight: 700;
    color: #f3a30d;
}

body::-webkit-scrollbar {
    width: 11px; 
}
  
body::-webkit-scrollbar-track {
    background: white; 
}
  
body::-webkit-scrollbar-thumb {
    background-color: #f3a30d; 
    border-radius: 5px; 
}

@media (max-width: 950px) {

    .header {
        justify-content: space-between;
    }

    .burger-container {
        width: 35px;
        height: 30px;
        position: relative;
    }

    .burger {
        display: block;
        height: 3px;
        width: 30px;
        background: white;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        transition: background 0.4s;
    }

    .burger-container.active .burger {
        background: transparent;
    }

    .burger::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        bottom: 8px;
        transition: transform 0.4s,
        bottom 0.4s,
        background 0.4s;
    }

    .burger-container.active .burger::before {
        bottom: 0;
        transform: rotate(-45deg);
        background: black;
    }

    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: 8px;
        transition: transform 0.4s,
        top 0.4s background 0.4s;
    }

    .burger-container.active .burger::after {
        top: 0;
        transform: rotate(45deg);
        background: black;
    }

    .nav-links {
        position: absolute;
        width: 100%;
        height: 50vh;
        left: 0;
        top: -50vh;
        background-color: #f3a30d;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 50px;
    }

    .nav-links.active {
        top: 0;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        color: black;
        font-size: 23px;
    }

	.logo {
        width: 100px;
        top: 20%;
    }

    .main-title,
    .header,
    .footer {
        padding: 0 7%;
    }

    .header {
        height: 100px;
    }

    .big-title {
        font-size: 0px;
        line-height: 50px;
    }

    .section-title {
        position: relative;
        font-size: 45px;
        font-weight: 100;
        margin-left: -50px;
    }

    .content{
        text-align: start;
    }

    #tete{
		width: 80%;
        margin-left: 0px;
	}

    .langages{
        margin-right: 0px;
    }

    .competences {
        display: grid;
        gap: 10px;
        text-align: center;
        }
    
    .savoir-faire{
        margin-left: 30px;
    }

    #myBtn1{
        width: 50px;
        height: 50px;
    }

    #myBtn2{
        width: 50px;
        height: 50px;
    }

    #myBtn3{
        width: 50px;
        height: 50px;
    }

    .projects { 
        grid-area: 1 / 1 / 4 / 2; 
    }
    .project1 { 
        grid-area: 1 / 1 / 2 / 2;
    }
    .project2 { 
        grid-area: 2 / 1 / 3 / 2; 
    }
    .project3 { 
        grid-area: 3 / 1 / 4 / 2;
    }

    .cv{
        width: 80%;
        height: 80%;
        margin-left: 7%;
    }

	.footer{
		margin-left: -5px; 
        margin-top: -25px;
	}
	
}

